.vscode
/build*
.DS_Store
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
*.exr
*.sh
*.bat
*.obj
*.png
/*.cpp

**/node_modules
/client/**/*.js
/client/**/*.map
/client/lightfx
